@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
}

#color-input {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
}

#color-input::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color-input::-webkit-color-swatch {
  border-radius: 0.5rem; /* rounded-lg */
  border: 1px solid #d4d4d4; /* border and border-neutral-300 */
}

.select,
::picker(select) {
  appearance: base-select;
  padding: 0.5rem;
}

::picker(select) {
  border: 1px solid #d4d4d4;
  border-radius: 12px;
  margin-bottom: 8px;
}
